In [1]:
import json
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle
import math

In [2]:
with open('review_df.pickle', 'rb') as handle:
    review_df = pickle.load(handle)
len(review_df)

5261669

In [3]:
with open('business_df.pickle', 'rb') as handle:
    business_df = pickle.load(handle)
len(business_df)

174567

In [19]:
business_review_df = pd.DataFrame(pd.merge(review_df, business_df, on='business_id'))

In [6]:
business_review_df.head(1)

,business_id,cool,date,funny,review_id,stars_x,text,useful,user_id,city,is_open,latitude,longitude,name,postal_code,review_count,stars_y,state
0,0W4lkclzZThpx3V65bVgig,0,2016-05-28,0,v0i_UHJMo_hPBq9bxWvW4w,5,289,0,bv2nCi5Qv5vroFiqKGopiw,Montréal,1,45.516373,-73.577537,Schwartz's,H2W 1X9,1953,4.0,QC

In [20]:
business_review_LV_df = business_review_df[business_review_df['city'] == 'Las Vegas']
business_review_LV_df.head(1)

,business_id,cool,date,funny,review_id,stars_x,text,useful,user_id,city,is_open,latitude,longitude,name,postal_code,review_count,stars_y,state
2617,8QWPlVQ6D-OExqXoaD2Z1g,0,2014-09-24,0,HRPm3vEZ_F-33TYVT7Pebw,5,471,1,_4iMDXbXZ1p1ONG297YEAQ,Las Vegas,1,36.171869,-115.142146,Vegas Pub Crawler,89101,38,4.5,NV

In [21]:
review_count_user = business_review_LV_df.groupby('user_id').size()

In [22]:
len(review_count_user)

506028

In [23]:
arr = np.array(review_count_user)
mean = arr.mean()
std = arr.std()
print(mean)
print(std)

3.170233662959362
9.957433946855305

In [26]:
business_review_PH_df = business_review_df[business_review_df['city'] == 'Toronto']
business_review_PH_df.head(1)
review_count_user = business_review_PH_df.groupby('user_id').size()
arr = np.array(review_count_user)
mean = arr.mean()
std = arr.std()
print(mean)
print(std)

4.6289712800463985
15.839988818563906